@import '/src//styles/variables';
@import '/src//styles/mixins';

.background_video {
  position: fixed;
  top: 0;
  left: 0;
  width: $maxWidth;
  height: $maxHeight;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: fixed;
  @include center-content;
  width: $maxWidth;
  height: $maxHeight;
  background: $background-overlay;
  background-position: 100%;
  overflow-wrap: break-word;
  color: #f1f1f1;
  padding: 20px;
  z-index: 1;
  text-align: center;
}

.content {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
    font-family: $font-stack;
  }

  p {
    em {
      color: #f39c12; /* Цвет для выделения текста */
    }
  }
}

@media (min-width: 1280px) {
  .font {
    width: 50%;
  }
}

@media (min-width: 1920px) {
  .font {
    width: 30%;
  }
}
