@import '/src/styles/mixins';
@import '/src/styles/variables';

.mainOpeningTextheader {
    position: relative;
    text-align: center;
	@include custom_shadow_frame;
	padding: 5px;
	&::before {
		content: "╚»";
		margin-right: $arrowMargin;
	}
	&::after {
		content: "«╝";
    margin-left: $arrowMargin
	}
}

.mainCityListHeader {
	position: relative;
	text-align: center;
	margin-bottom: 5px;


	&::before {
		content: '◎';
		margin-left: 8px;
	}
	&::after {
		content: '◎';
		margin-left: 8px;
	}
}


.background_container {
  position: relative;
  @include full-size;
  overflow: hidden;
// @include custom_shadow_title_second;

  

  .background_image {
    position: absolute;
    top: 0;
    left: 0;
    @include full-size;
    background: linear-gradient(
      to bottom,
      white 33.3%,
      blue 33.3%,
      blue 66.6%,
      red 66.6%
    );
    filter: blur(5px);
    margin-top: 20px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include full-size;
      background-color: $overlay-color;
      pointer-events: none;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    color: $text-color;
  }
}

.custom_shadow_title {
 @include custom_shadow_frame
  }



  
.headers {
	@include custom_shadow_frame
}
