@import '/src/styles/mixins';
@import '/src/styles/variables';



.main_opening_text_header {
    position: relative;
    text-align: center;
	@include custom_shadow_frame;
	padding: 10px;
	&::before {
		content: "╚»";
		margin-right: $arrowMargin;
	}
	&::after {
		content: "«╝";
    margin-left: $arrowMargin;
	}	
}

.main_city_title {
	position: relative;
	text-align: center;
	margin-bottom: 5px;


	&::before {
		content: '◎';
		margin-left: 8px;
	}
	&::after {
		content: '◎';
		margin-left: 8px;
	}
}


// .background_container {
//   position: relative;
//   @include full-size;
//   overflow: hidden;
// }

// @include custom_shadow_title_second;

//   .background_image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     @include full-size;
//     background: linear-gradient(
//       to bottom,
//       white 33.3%,
//       blue 33.3%,
//       blue 66.6%,
//       red 66.6%
//     );
//     margin: 150px;

//     &::after {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       @include full-size;
//       background-color: $overlay-color;
//       pointer-events: none;
//     }
//   }

//   .content {
//     position: relative;
//     z-index: 1;
//     color: $text-color;
//   }

.custom_shadow_title {
 @include custom_shadow_frame
  }

  

.text_opening_container {
		@include custom_shadow_frame($text-align: left);
  }
	

  .card_description {
	@include custom_card_layout;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.9px #000;
  }

//   .text_gradient {
// 	font-size: 2rem; /* Размер шрифта можно настроить */
// 	font-weight: bold;
// 	background: linear-gradient(
// 	  to bottom,
// 	  white 33.3%,
// 	  blue 33.3%,
// 	  blue 66.6%,
// 	  red 66.6%
// 	);
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	background-clip: text;
// 	color: transparent;
//   }
  