@import '/src/styles/variables';
@import '/src/styles/mixins';


body {
  width: $maxWidth;
  height: $maxHeight;
  margin: 0;
  padding: 0;
  cursor: default;
  @include font-settings();
  @include gradient-background();
}
