@import '/src/styles/variables';
@import '/src/styles/mixins';



body {
  width: $maxWidth;
  height: $maxHeight;
  margin: $zeroValues;
  padding: $zeroValues;
  cursor: default;
  @include font-settings();
  @include gradient-background();
  background-repeat: no-repeat;
}
