@import './variables';

@mixin gradient_text($gradient) {
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@mixin full-size {	
  width: $maxWidth; 
  height: $maxHeight;
}

@mixin font-settings {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: $font-weight;
}

@mixin gradient-background {
  background: $gradient-bg;
}
@mixin gradient-background_text {
	background: $gradient-bg-text;
  }

@mixin flexLayout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


@mixin custom_shadow_frame($text-align: center, $shadow_color: #00000035) {
	-webkit-text-stroke: 0.9px #000;
	@include gradient-background-text;
	padding: 5px;
	letter-spacing: 1px;
	text-shadow:
	-1px -1px 0 #00000000,  
    1px -1px 0 #00000000,
    -1px 1px 0 #00000000,
     1px 1px 0 $shadow_color;
	 background-clip: text;
	-webkit-background-clip: text;
	text-align: $text-align;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-size: 100%;

}



@mixin custom_card_layout {
	-webkit-text-stroke: 1px #000;
	background: $gradient-bg-card;
	text-shadow:
	-1px -1px 0 #00000000,  
    1px -1px 0 #00000000,
    -1px 1px 0 #00000000,
     1px 1px 0 #00000000;
	 background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-size: 100%;

}


