@mixin gradient-text($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin full-size {
  width: $maxWidth;
  height: $maxHeight;
}

@mixin font-settings {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: $font-weight;
}

@mixin gradient-background {
  background: $gradient-bg;
}

@mixin flexLayout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


@mixin custom_shadow_frame() {
			 -webkit-text-stroke: 0.8px #000; 
			 background: linear-gradient( 160deg,
			 rgba(255, 255, 255, 1) 33.3%,
			 rgba(4, 12, 255, 1) 33.3%,
			 rgba(4, 12, 255, 1) 66.6%,
			 rgba(255, 0, 25, 0.9) 66.6%,
			 rgba(255, 0, 25, 0.9) 100%);
			 -webkit-background-clip: text;
			 -webkit-text-fill-color: transparent;
			 text-shadow: 
			 2px 3px 4px rgba(0, 0, 0, 0.3);
			text-align: center;
			letter-spacing: 0.8px;
}

// @mixin custom_subtitle {
// 	background-image: linear-gradient(45deg, #ff0000, #3d0cff, #ffffff);
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	background-clip: text;
// 	-webkit-text-stroke: 0.7px #000; 
// 	letter-spacing: 0.8px;
// 	text-align: center;
// }

// @mixin custom_shadow_title_second {
// 	-webkit-text-stroke: 0.9px black;
// 	-webkit-background-clip: text;
// 	padding: 10px;
// 	-webkit-text-fill-color: rgb(255, 255, 255);
// 	text-shadow: 
// 	2px 2px 4px rgba(1, 2, 0, 0.1);
// }


// @mixin custom_shadow_title_third {
// 	-webkit-text-stroke: 0.8px #000; 
// 	background: linear-gradient(45deg, #ff0000, #3d0cff, #ffffff);
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	text-shadow: 
// 	2px 3px 4px rgba(0, 0, 0, 0.1);
// }

