.scroll_arrow {
  position: fixed;
  left: 5px;
  top: 50%;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border: none;
  background-image: url('../assets/images/up_circle_arrow_icon_263593.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.4;
}
