@import '/src/styles/mixins';
@import '/src/styles/variables';

.background_container {
  position: relative;
  @include full-size;
  overflow: hidden;

  .background_image {
    position: absolute;
    top: 0;
    left: 0;
    @include full-size;
    background-image: url('/src/assets/images/russianFlag.svg');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include full-size;
      background-color: $overlay-color;
      pointer-events: none;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    color: $text-color;
  }


}
