/* Footer.module.css */
/* .footer {
    padding: 20px 0;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .socialIcon {
    margin-left: 10px;
  }
   */