@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.custom_spinner {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: url('/src/assets/images/navbar-logo/icons8-nesting-dolls-96.png') no-repeat center center;
    background-size: contain;
    animation: spin 2s linear infinite;
  }
  